<section class="feature-chart">
  <div class="feature-chart__container container">
    <!-- 
      This is perfect example of proper BEM mixin. Normally you should avoid multiple declarations per tag,
      however you could (and often should) split one class declaration into two smaller ones so
      Block holds all face stylings (color, background, padding - everything that's contained within box model),
      while Element should care just about geometry (margins, floats, others that are outside of box model).

      On this example - `feature-chart` doesn't care HOW `headline` is rendered but WHERE it's rendered:

      ```
      <headline.scss>
      @include export (headline) {
        .headline {
          color: $headline-color;
          font-family: 'Roboto';
          font-size: 22px;
          line-height: ...

          &--medium { ... }
        }
      }
      
      <feature-chart.scss>
      @import headline;

      @include export (feature-chart) {
        .feature-chart {
          ...
          &__headline {
            margin: 30px auto 100px auto;
          }
        }
      }
      ```

      This way you have single source of truth for headline and code gets DRYier.

      Note import and export part above as well. We want to import all dependencies for a given component as soon as possible.
      This way we use smaller blocks to build bigger blocks and it's far easier to pull all the dependencies needed for a block
      built of large amount of sub-blocks. You ca be far more confident that you don't miss anything if you always care of top
      level dependencies and can just forget about the dependency tree (that's what you'd do in all other programming languages).
      The export mixin protects from duplication so make sure to remember about it and always use unique names
     -->
    <h2 class="feature-chart__headline headline--medium">
      Full plan comparison.
    </h2>

    {#
      For the table comparison I imagine you could have a separate `toggle` component and pass the table inside of it
      (basic face style for table it's also great condidate for reusable component). Think of:

      {% embed 'toggle-group' with: {multipleOpen: true, ...} %}
        {% block toggle-group-body %}
          {% for category in categories %}
            {% embed 'toggle' %}
              {% block toggle-boody %}
                <table class="feature-chart__table table">
                  ...
                </table>
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}

      Bonus point:
      SVGs should be twig files and optimised with online tool
      https://jakearchibald.github.io/svgomg/
      You can't include into include but you can catch partial int variable first and pass it then:
      {% set checkmark %}
        {% include 'elements/svg-icon/check-mark.twig' with {
          class: 'feature-chart__check-mark'
        } %}
      {% endset %}
    #}
  </div>
</section>
