<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#ffffff">
  {{ wp_head() }}
</head>
<body>

  <main class="page">
    {% include 'components/header/index.twig' %}

    {% block content %}
    {% endblock %}

    {% include 'components/footer/index.twig' %}
  </main>

  {{ wp_footer() }}
</body>
</html>
