<svg class="{{ class }} svg-icon" width="15" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M14.6.4c-.5-.5-1.4-.5-1.9 0L5 7.9 2.3 5.4c-.5-.4-1.4-.5-2 0C0 6 0 6.7.4 7.2L4 10.6a1.4 1.4 0 0 0 1.9 0l8.8-8.4a1.2 1.2 0 0 0 0-1.8z" fill-rule="nonzero"/></svg>