@include export (container) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - #{$gutter-width * 2});
  
    @media (min-width: $medium-screen) {
      max-width: $medium-screen;
    }
  
    @media (min-width: $large-screen) {
      max-width: $large-screen;
    }
  }
}
